---
apiVersion: v1
kind: Namespace
metadata:
  name: kube-demo
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-kube
  namespace: kube-demo
  labels:
    app: demo-kube
spec:
  replicas: 2
  selector:
    matchLabels:
      app: demo-kube
  template:
    metadata:
      labels:
        app: demo-kube
    spec:
      containers:
      - name: nginx-static
        image: iamyogeshjagtap/demo-kube:v1   # <-- change to your DockerHub username
        ports:
        - containerPort: 80
        livenessProbe:
          httpGet:
            path: /healthz
            port: 80
          initialDelaySeconds: 10
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /healthz
            port: 80
          initialDelaySeconds: 5
          periodSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: demo-kube-svc
  namespace: kube-demo
spec:
  selector:
    app: demo-kube
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
  type: ClusterIP
